# Database
DATABASE_NAME=touraddis2_db
DATABASE_USER=touraddis2_user
DATABASE_PASSWORD=moun10gt
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Django Settings
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True

# Email (Namecheap)
EMAIL_HOST=mail.privateemail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=info@touraddis.com
EMAIL_HOST_PASSWORD=your_email_password
DEFAULT_FROM_EMAIL=TourAddis <info@touraddis.com>
ADMIN_EMAIL=tomibzan@gmail.com

# Cloudinary
# CLOUDINARY_CLOUD_NAME=your_cloud_name
# CLOUDINARY_API_KEY=your_api_key
# CLOUDINARY_API_SECRET=your_api_secret
# USE_CLOUDINARY=False